.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/storage
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
npm-debug.log
yarn-error.log
.idea
.vscode
