APP_NAME=SourabhPanhale
APP_ENV=production
APP_KEY=base64:Xd/wTMvshxfm5wjrAW4r6I6akWqBx9MdM6vNiBNIiak=
APP_DEBUG=false
APP_URL=https://sourabh-panhale.vercel.app

SESSION_DRIVER=array
CACHE_STORE=array
QUEUE_CONNECTION=sync
LOG_CHANNEL=stderr
